:root {
--brand-color: #EF5F4C;
--background-color: #FFFFFF;
--surface-color: #F5F5F5;
--skeleton-color: #d9d9d9;
--text-color-primary: #313131;
--text-color-secondary: #6c6c6c;
}

body{
    width: 1280px;
    height: auto;
    margin: 0 auto;
    font-family: "Poppins", Arial, sans-serif;
    background-color: var(--surface-color);
}

header{
    margin: 20px 32px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-name{
    color: var(--brand-color);
    font-size: 20px;
    font-style: bold;

}

.nav-header, .nav-items{
    display: flex;
    align-items: center;
    gap: 16px;
}

.profile-pick{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 32px;
}

.main{
    display: flex;
    align-items: center;
    width: 592px;
    height: 176px;
}

.about-photo {
    width: 176px;
    height: 176px;
    border-radius: 50%;
    object-fit: cover;
}

.main-profile{
    width: 384px;
    height: 168px;
}

.main-name {
    margin: 0 0 8px;
    font-size: 32px;
    font-style: bold;
    color: var(--text-color-primary);
}

.main-about {
    margin: 0px;
    font-size: 14px;
    line-height: 1.6;
    color: var(--text-color-secondary);
}

.info {
    width: 280px;
    height: 104px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.location, .countries, .photos {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--text-color-secondary);
}

.photo-gallery{
    border-radius: 15px;
    background-color: var(--background-color);
    padding: 24px 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.photo-gallery div {
    width: 286px;
    height: 286px;
}

.photo-gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

footer{
    margin: 24px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    color: var(--text-color-secondary);
    font-size: 14px;
    margin: 0;
}

.links{
    display: flex;
    height: 24px;
    width: 297px;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    gap: 16px;
}
