* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root {
    --red: #E3646E;
    --purple: #BB72E9;
    --blue: #3996DB;
    --green: #82BC4F;
    --yellow: #EABD5F;

    --gray-100: #E2E4E9;
    --gray-200: #C0C4CE;
    --gray-300: #878EA1;
    --gray-400: #292C34;
    --gray-500: #16181D;
    --gray-600: #0D0E11;

    --title-font: "Asap", sans-serif;
    --subtitle-font: "Inconsolata", monospace;
    --text-font: "Maven Pro", sans-serif;

    --title-lg: 700 56px/120% var(--title-font);
    --title-md: 700 24px/120% var(--title-font);
    --title-sm: 700 16px/120% var(--title-font);

    --subtitle: 400 20px/120% var(--subtitle-font);

    --text-md: 400 16px/140% var(--text-font);
    --text-sm: 400 14px/140% var(--text-font);
}


.subtitle {
    font: var(--subtitle);
    color: var(--gray-200);
}

.title-lg {
    font: var(--title-lg);
    color: var(--gray-100);
}

.title-md {
    font: var(--title-md);
    color: var(--gray-100);
}

.title-sm {
    font: var(--title-sm);
    color: var(--gray-100);
}

.text-sm {
    font: var(--text-sm);
    color: var(--gray-300);
}

.text-md {
    font: var(--text-md);
    color: var(--gray-200);
}

.red-text {
    color: var(--red);
}

main{
    background-color: var(--gray-500);
}

#intro{
    background-image: url(../Assets/img/Background_Intro.png);
    background-size: cover;
    width: 1366px;
    height: 750px;
   margin-inline: auto;
}

#projects{
    width: 1366px;
    height: 750px;
    margin-inline: auto;
    display: grid;
}