.services-container {
    padding-block: 88px 120px;
}

.service-card {
    width: 280px;
    height: 155px;
    border: 1px solid var(--gray-400);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.service-card img {
    width: 48px;
    height: 48px;
}

.service-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


