* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --brand-color-primary: #F7B733;
    --brand-color-secondary: #FC4A1A;

    --background-color: #09090B;
    --surface-color: #18181b;
    --stroke-color: #27272a;
    --text-color-primary: #F4F4F5;
    --text-color-secondary: #A1A1AA;

    --font-family: 'Inter', sans-serif;
    --desktop-h1: 800 4rem/120% var(--font-family);
    --desktop-h2: 800 3rem/120% var(--font-family);
    --desktop-h3: 800 2rem/120% var(--font-family);
    --desktop-span: 500 .875/100% var(--font-family);
    --desktop-paragraph: 400 1rem/160% var(--font-family);

    --mobile-h1: 800 2.5/120% var(--font-family);
    --mobile-h2: 800 1.5/120% var(--font-family);
    --mobile-h3: 800 1.25/120% var(--font-family);
    --mobile-span: 500 .875/100% var(--font-family);
    --mobilie-paragraph: 400 1rem/160% var(--font-family);
}

body {
    background-color: var(--background-color);
    color: var(--text-color-primary);
    font-family: var(--font-family);
    overflow-x: hidden;
}

a {
    list-style: none;
    text-decoration: none;
    color: var(--text-color-primary);
}