#hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 99px;

    max-width: 1280px;
    height: 43.75rem;
    margin: 0 auto;
    width: 100%;

    & #hero-main {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        z-index: 3;
        padding-top: 5rem;

        & #hero-content {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            align-items: center;

            & img {
                width: 25.75rem;
                height: 6.5rem;
            }

            & #hero-text {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;

                & h1 {
                    font: var(--desktop-h1);
                }

                & p {
                    font: 500 2.5rem/140% var(--font-family);
                    color: var(--text-color-secondary);
                }
            }
        }

        & #hero-buttons {
            display: flex;
            gap: 1rem;
            justify-content: center;

            & .white-button {
                padding: 1rem 2rem;
            }

            & .transparent-button {
                padding: 1rem 2rem;
            }
        }
    }

}

#hero-illustration {
    position: relative;
    width: 1280px;
    height: 700px;

    & #elipse-container {
        position: absolute;
        inset: 0;
        overflow: hidden;

        & #elipse-gray {
            position: absolute;
            width: 5000px;
            height: 5000px;
            border-radius: 50%;
            z-index: 2;
            left: 50%;
            transform: translateX(-50%);
            background-color: var(--surface-color);
        }
    }

    & #hero-backlight {
        position: absolute;
        inset: 0;
        z-index: 1;

        & .div-orange {
            position: absolute;
            width: 1000px;
            height: 1000px;
            border-radius: 50%;
            background-color: var(--brand-color-secondary);
            filter: blur(100px);
            opacity: 1;
            top: 50px;
            left: 70%;
            transform: translateX(-50%);
            z-index: 1;
        }

        & .div-yellow {
            position: absolute;
            width: 1000px;
            height: 1000px;
            border-radius: 50%;
            background-color: var(--brand-color-primary);
            filter: blur(100px);
            opacity: 1;
            top: 50px;
            left: 40%;
            transform: translateX(-50%);
            z-index: 2;
        }
    }
}