#price-section {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    & #price-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        & span {
            text-transform: uppercase;
            font: var(--desktop-span);
            color: var(--brand-color-primary);
        }

        & h2 {
            font: var(--desktop-h2);
            text-align: center;
        }
    }

    & #price-table {
        display: flex;
        align-items: center;
        gap: 2rem;

        & .price-card {
            height: 30rem;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding: 2rem;
            background-color: var(--surface-color);
            border-radius: 1.5rem;

            & .plan-price {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                & .plan-name {
                    display: flex;
                    flex-direction: column;
                    gap: 0.25rem;

                    & h3 {
                        font: var(--desktop-h3);
                    }

                    & p {
                        font: var(--desktop-paragraph);
                        color: var(--text-color-secondary);
                    }
                }

                & h2 {
                    font: var(--desktop-h2);
                }

                & .price-text {
                    display: flex;
                    align-items: end;
                    gap: 0.25rem;

                    & h2 {
                        font: var(--desktop-h2);
                    }

                    & p {
                        font: var(--desktop-paragraph);
                        color: var(--text-color-secondary);
                    }
                }
            }
        }
    }
}