.white-button {
    border-radius: .5rem;
    background-color: var(--text-color-primary);
    color: var(--background-color);
    cursor: pointer;
    text-align: center;
    border: none;

    &:hover {
        background: linear-gradient(90deg, #FC4A1A, #F7B733);
    }
}

.transparent-button {
    border-radius: .5rem;
    border: 2px solid var(--text-color-primary);
    background-color: transparent;
    color: var(--text-color-primary);
    cursor: pointer;
    text-align: center;
}