.banner {
    padding-block: 1.5rem;
    overflow: hidden;

    & .rolling {
        display: flex;
        align-items: center;
        width: max-content;
        height: 3.5rem;
        animation: pulseGradient 15s linear infinite;

        & .rotating-content {
            white-space: nowrap;
            flex: 0 0 auto;
            font: 700 1.25rem/120% var(--ff2);
            animation: rollingBanner 15s linear infinite;
        }
    }
}

@keyframes rollingBanner {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes pulseGradient {
    0% {
        background-color: #F472B6;
    }

    50% {
        background-color: #67E8F9;
    }

    100% {
        background-color: #F472B6;
    }
}