*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --snitap-sun: #ffcd1e;
  --snitap-sky-mid: #06b6d4;
  --snitap-sky-light: #67e8f9;
  --snitap-joy-mid: #DB2777;
  --snitap-joy-light: #f472b6;
  --snitap-leaf-mid: #16a34a;

  --text: #000000;
  --highlights: #000000;
  --background: #fafafa;

  --ff1: "Syne", sans-serif;
  --ff2: "Montserrat", sans-serif;
  --h1: 700 2rem/125% var(--ff1);
  --h2: 700 1.5rem/120% var(--ff1);
  --ButtonLabel: 500 1rem/150% var(--ff2);
  --Span: 500 .75/150% var(--ff2);
  --a: 400 1rem/150% var(--ff2);

  --py-sm: 0.75rem;
  --py-base: 1rem;
  --py-lg: 1.5rem;
  --py-xl: 3rem;

}

.px-base {
  padding-inline: 1.5rem;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.align-itens {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.gap-xsm {
  gap: 0.5rem;
}

.gap-sm {
  gap: .875rem;
}

.gap-base {
  gap: 1rem;
}

.gap-lg {
  gap: 1.5rem;
}

.gap-xl {
  gap: 2rem;
}

.gap-xxl {
  gap: 3rem;
}


body {
  background-color: var(--background);
  color: var(--text);
}

a {
  list-style: none;
  text-decoration: none;
  color: var(--text-color-primary);
}

h1 {
  font: var(--h1);
}

h2 {
  font: var(--h2);
}

span {
  font: var(--Span);
}

button {
  font: var(--ButtonLabel);
}

@media (min-width: 1024px) {

  :root {
    --h1: 700 4rem/125% var(--ff1);
    --h2: 700 2.5rem/120% var(--ff1);
    --ButtonLabel: 500 1rem/150% var(--ff2);
    --Span: 500 .875rem/150% var(--ff2);
    --a: 400 .875rem/150% var(--ff2);

    --py-sm: 0.75rem;
    --py-base: 1rem;
    --py-lg: 1.5rem;
    --py-xl: 3rem;

  }

  .px-base {
    padding-inline: 2rem;
  }

  .gap-xsm {
    gap: 0.5rem;
  }

  .gap-sm {
    gap: .875rem;
  }

  .gap-base {
    gap: 1rem;
  }

  .gap-lg {
    gap: 1.5rem;
  }

  .gap-xl {
    gap: 2rem;
  }

  .gap-xxl {
    gap: 3rem;
  }
}