.hero {
    padding: 1rem 3rem;
    max-width: 24.375rem;
    width: 100%;
    margin-inline: auto;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    & #hero-content {
        order: 2;
        width: 17.6875rem;
        flex-direction: column;
        display: flex;
        gap: 3rem;

        & h1 div {
            display: inline-block;
            overflow: hidden;
            height: 2.5rem;
            width: min-content;
            vertical-align: top;
        }

        & h1 span:nth-child(1) {
            color: var(--snitap-sky-mid);
        }

        & h1 span:nth-child(2) {
            color: var(--snitap-joy-mid);
        }

        & h1 span:nth-child(3) {
            color: var(--snitap-leaf-mid);
        }

        & h1 span:nth-child(4) {
            color: var(--snitap-sky-mid);
        }

        & h1 span {
            display: block;
            animation: slideUp 5s 2s infinite ease;
        }

        & .buttons {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            & .buy {
                display: flex;
                align-items: center;
                order: 2;
                background-color: var(--snitap-sun);
                padding: 1.5rem 3rem;
                gap: .875rem;
                border-radius: 80px;
                text-wrap: nowrap;
                align-self: baseline;
            }

            & .play {
                order: 1;
                display: flex;
                gap: .875rem;
                align-items: center;
                align-self: baseline;

                & span {
                    padding: 1.5rem;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: white;

                    box-shadow: 1px 1px 10px black;
                }
            }
        }
    }

    #hero-images {
        order: 1;

        & .hero-content {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 19.5rem;
            height: 19.5rem;

            & img[src*='ellipse'] {
                width: 18.5rem;
                height: 18.5rem;
                position: absolute;
                z-index: 0;
            }

            & img[src*='patins-image'] {
                width: 19.5rem;
                height: 18.5rem;
                position: absolute;
                z-index: 2;
            }

            & img[src*='stars-1'] {
                width: 3.5rem;
                height: 2.875rem;
                position: absolute;
                z-index: 1;
                left: 5px;
                top: 30%;
            }

            & img[src*='stars-2'] {
                width: 1.625rem;
                height: 2.375rem;
                position: absolute;
                z-index: 2;
                right: 0px;
                top: 53%;
            }
        }
    }
}

@keyframes slideUp {

    0%,
    20% {
        transform: translateY(0);
    }

    /* "radical"   visivel */
    25%,
    45% {
        transform: translateY(-100%);
    }

    /* "divertida" visivel */
    50%,
    70% {
        transform: translateY(-200%);
    }

    /* "saudavel"  visivel */
    75%,
    100% {
        transform: translateY(-300%);
    }
}

@media (min-width: 1024px) {
    .hero {
        padding: 2.5rem 2rem;
        max-width: 80rem;
        width: 100%;
        margin-inline: auto;

        flex-direction: row;
        gap: 2rem;
        align-items: center;

        overflow: hidden;

        & #hero-content {
            order: 1;
            width: 100%;

            & h1 div {
                height: 5rem;
            }

            & .buttons {
                flex-direction: row;
                gap: 2rem;

                & .button {
                    transition: scale 350ms;

                    &:hover {
                        scale: 1.1;
                    }
                }

                & .buy {
                    order: 1;
                }
            }
        }

        & #hero-images {
            & .hero-content {
                width: 30.5rem;
                height: 30.5rem;

                & img[src*='ellipse'] {
                    width: 28.875rem;
                    height: 28.875rem;
                    transform: translateX(200%);
                    animation: slideIn 3s 200ms ease forwards;
                }

                & img[src*='patins-image'] {
                    width: 30.5rem;
                    height: 28.875rem;
                    transform: translateX(200%);
                    animation: slideIn 3s 200ms ease forwards;
                }

                & img[src*='stars-1'] {
                    width: 5.5rem;
                    height: 4.5rem;
                    transform: translateX(700%);
                    animation: slideIn 2s 800ms ease forwards, appear 100ms 800ms forwards;
                }

                & img[src*='stars-2'] {
                    width: 2.5rem;
                    height: 3.75rem;
                    transform: translateX(400%);
                    animation: slideIn 2.2s 800ms ease forwards;
                }
            }
        }
    }
}


@keyframes slideIn {
    50% {
        transform: translateX(-20px);
    }

    100% {
        transform: translateX(0);
    }
}