#hero-section {
    padding-top: 1rem;
    padding-bottom: 3rem;
    align-items: center;
    flex-direction: column;

    & #hero-img {
        justify-content: center;
        position: relative;
        width: 19.5rem;
        height: 19.5rem;

        & #hero-ellipse {
            width: 19.5rem;
            height: 19.5rem;
            position: absolute;
            z-index: 0;
        }

        & #hero-patins {
            width: 19.5rem;
            height: 19.5rem;
            position: absolute;
            z-index: 1;
        }

        & #hero-stars-one {
            width: 3.5rem;
            height: 2.8rem;
            position: absolute;
            z-index: 2;
            left: 5px;
            top: 86px;
        }

        & #hero-stars-two {
            width: 1.56rem;
            height: 2.375rem;
            position: absolute;
            z-index: 3;
            right: 1px;
            bottom: 92px;
        }
    }

    & #hero-content #hero-buttons {
        width: auto;
        font: var(--ButtonLabel);

        & a div {
            padding: 1.5rem;
            border-radius: 50%;
            background-color: var(--background);
            box-shadow: 1px 10px 20px black;

            & img {
                width: 1.5rem;
                height: 1.5rem;
                align-items: center;
                justify-content: center;
            }
        }
    }

    & #hero-content {
        width: 17.6875rem;
        flex-direction: column;

        & button {
            width: 100%;
            background-color: var(--snitap-sun);
            border-radius: 80px;
            padding: 1.5rem;
            border-color: transparent;
            box-shadow: 1px 10px 20px black;
            font: var(--ButtonLabel);
            cursor: pointer;
            align-items: center;
            justify-content: center;
        }

        & h1 div {
            display: inline-block;
            overflow: hidden;
            /* ← esconde palavras fora da area */
            height: 2.5rem;
            /* ← mostra apenas 1 palavra por vez */
            width: min-content;
            vertical-align: top;
            /* alinha com o texto ao lado */
        }

        & h1 span:nth-child(1) {
            color: var(--snitap-sky-mid);
        }

        & h1 span:nth-child(2) {
            color: var(--snitap-joy-mid);
        }

        & h1 span:nth-child(3) {
            color: var(--snitap-leaf-mid);
        }

        & h1 span:nth-child(4) {
            color: var(--snitap-sky-mid);
        }

        & h1 span {
            display: block;
            animation: slideUp 5s 2s infinite ease;
        }
    }

    & #content-buttons {
        flex-direction: column;
    }
}

@keyframes slideUp {

    /* Fica parado em cada posicao por um tempo */
    0%,
    20% {
        transform: translateY(0);
    }

    /* "radical"   visivel */
    25%,
    45% {
        transform: translateY(-100%);
    }

    /* "divertida" visivel */
    50%,
    70% {
        transform: translateY(-200%);
    }

    /* "saudavel"  visivel */
    75%,
    100% {
        transform: translateY(-300%);
    }

    /* "radical"   (copia) */
}

@media (min-width:1024px) {
    #hero-section {
        max-width: 1280px;
        flex-direction: row;


        & #hero-img {
            align-self: right;
            justify-content: center;
            position: relative;
            width: 30.5rem;
            height: 30.5rem;

            & #hero-ellipse {
                width: 30.5rem;
                height: 30.5rem;
                position: absolute;
                z-index: 0;
            }

            & #hero-patins {
                width: 30.5rem;
                height: 30.5rem;
                position: absolute;
                z-index: 1;
            }

            & #hero-stars-one {
                width: 5.5rem;
                height: 4.5rem;
                position: absolute;
                z-index: 2;
                left: 5px;
                top: 86px;
            }

            & #hero-stars-two {
                width: 2.5rem;
                height: 3.75rem;
                position: absolute;
                z-index: 3;
                right: 1px;
                bottom: 92px;
            }
        }

        & #hero-content {
            max-width: ;
            align-self: left;
        }
    }


}