header {
 padding-block: .875rem;

 & img {
    width: 2rem;
    height: 2rem
 };

 & nav #logo {
    transition: transform 0.4s ease-in-out;

    &:hover{
        transform: rotate(90deg);
    }
 }

 & nav #nav-cart {
    transition: transform 0.4s ease-in-out;

    &:hover{
        transform: rotate(-30deg);
    }
 }
}

#nav-shopping {
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    position: relative;

    & span {
        position: absolute; 
        top: 0px;
        right: 0px;
        background-color: var(--snitap-sun); 
        border-radius: 50%; 
        justify-content: center;
        align-items: center; 
        font: 500 0.625rem/1 'Inter', sans-serif; 
        width: 20px;
        height: 20px;
        font-weight: bold;
        
    };
}

