#photo-gallery {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    flex-direction: column;

    & #photo-header {
        flex-direction: column;

        & p {
            font: 400 0.75rem/150% var(--ff2);
        }
    }
    & #photo-section {


        & img {
            width: 19.5rem;
            height: 16rem;
            object-fit: cover;
            border-radius: 25px;
        }
    }
}